@import "~src/assets/styles/styles";

mat-expansion-panel {
  border: 1px solid $border;
  margin: 30px auto;
  padding: 2px;
  width: 80%;
  &-header {
    border: 1px solid $border;
  }
  h3 {
    font-size: 20px;
    margin: 10px;
  }
}

.trip-card {
  display: flex;
  padding: 20px 0 10px 0;
}

.text-detail {
  display: inline-flex;
  float: left;
  width: 65%;
  mat-list {
    width: 100%;
  }
  mat-list-item {
    height: auto;
  }
  mat-divider {
    height: 2px;
    margin: 15px 15px 15px 0;
  }
  .detail {
    font-family: Lato, serif;
    &__category {
      float: left;
      font-size: 18px;
      font-weight: 600;
      text-align: right;
      padding: 0 10px 0 0;
      width: 110px;
    }
    &__description {
      float: left;
      font-size: 16px;
      text-align: justify;
      width: calc(100% - 110px);
    }
    .like {
      margin: auto 0;
      width: 20px;
    }
  }
}

.image-detail {
  border: 1px solid $border;
  border-radius: 25px;
  display: inline-flex;
  float: left;
  overflow: hidden;
  position: relative;
  width: 35%;
  img {
    object-fit: cover;
    position: absolute;
  }
}
