@import "~src/assets/styles/styles";
@import "~src/assets/styles/variables";

mat-expansion-panel {
  margin: 30px auto;
  width: 80%;
  border: 1px solid $border;
  border-radius: 1px;
  padding: 2px;
  &-header {
    border: 1px solid $border;
  }
  h3 {
    font-size: 20px;
    margin: 10px;
  }
}

.trip-card {
  display: flex;
  padding: 10px 0;
}

.text-detail {
  display: inline-flex;
  width: 65%;
  float: left;
  padding: 10px 0;
  mat-list {
    width: 100%;
  }
  mat-list-item {
    height: auto;
  }
  mat-divider {
    margin: 15px 15px 15px 0;
    height: 2px;
  }
  .detail {
    display: block;
    &__category {
      float: left;
      text-align: right;
      width: 110px;
      font-size: 18px;
      font-weight: 600;
      padding: 0 10px 0 0;
    }
    &__description {
      float: left;
      text-align: justify;
      width: calc(100% - 110px);
      font-size: 16px;
    }
    .like {
      width: 16px;
    }
  }
}

.image-detail {
  display: inline-flex;
  float: left;
  position: relative;
  overflow: hidden;
  width: 35%;
  border: 1px solid $border;
  border-radius: 25px;
  img {
    position: absolute;
    object-fit: cover;
  }
}
