<mat-expansion-panel (opened)="panelOpenState = true"
                     (closed)="panelOpenState = false">
  <mat-expansion-panel-header>
    <mat-panel-title>
      <h3>Trip # {{ index + 1 }}</h3>
    </mat-panel-title>
    <mat-panel-description *ngIf="!panelOpenState">
      <h3>
        «{{ detailedTrip.title }}» ({{ detailedTrip.location }}):
        from {{ detailedTrip.fromDate | date:'dd.MM.yy' }}
        to {{ detailedTrip.toDate | date:'dd.MM.yy' }}
      </h3>
    </mat-panel-description>
  </mat-expansion-panel-header>
  <div class="trip-card">
    <div class="text-detail">
      <mat-list>
        <mat-list-item>
          <div class="detail">
            <div class="detail__category">
              Title:
            </div>
            <div class="detail__description">
              «{{ detailedTrip.title }}»
            </div>
          </div>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
          <div class="detail">
            <div class="detail__category">
              Location:
            </div>
            <div class="detail__description">
              {{ detailedTrip.location }}
            </div>
          </div>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
          <div class="detail">
            <div class="detail__category">
              Date:
            </div>
            <div class="detail__description">
              from {{ detailedTrip.fromDate | date:'long' }}<br>
              to {{ detailedTrip.toDate | date:'long' }}
            </div>
          </div>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
          <div class="detail">
            <div class="detail__category">
              Price:
            </div>
            <div class="detail__description">
              {{ detailedTrip.price + ' USD' }}
            </div>
          </div>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
          <div class="detail">
            <div class="detail__category">
              Description:
            </div>
            <div class="detail__description">
              {{ detailedTrip.description }}
            </div>
          </div>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
          <div class="detail">
            <div class="detail__category">
              Rating:
            </div>
            <div class="detail__description">
              {{ detailedTrip.avgRating }}
              <img class="like" src="assets/img/like.svg"
                   *ngIf="detailedTrip.like">
            </div>
          </div>
        </mat-list-item>
      </mat-list>
    </div>
    <div class="image-detail">
      <img src="{{ detailedTrip.imageUrl }}">
    </div>
  </div>
</mat-expansion-panel>

