@import "~src/assets/styles/styles";
@import "~src/assets/styles/variables";

.slider {
  width: 100%;
  border-bottom: 1px solid $border;
  img {
    height: 350px;
    width: 100%;
    object-fit: cover;
  }
}
.trips-list {
  display: block;
  text-align: center;
}

.carousel-control-next {
  display: none;
}

.carousel-control-prev {
  display: none;
}
