@import "~src/assets/styles/styles";

.slider {
  width: 100%;
  border-bottom: 1px solid $border;
  img {
    height: 350px;
    width: 100%;
    object-fit: cover;
  }
}

.trips-list {
  text-align: center;
}
