@import '~src/assets/styles/variables';

.app-header {
  overflow: hidden;
  display: flex;
  &__section, &__auth {
    display: inline-flex;
    width: calc(100% - 150px);
    border-bottom: 1px solid $border;
    h1 {
      font-size: 20px;
      text-align: center;
      width: 100%;
      margin: 10px;
    }
  }
  &__auth {
    width: 150px;
    ::ng-deep button {
      width: 100%;
      height: 100%;
    }
  }
}
