@import "~src/assets/styles/styles";

@function stroke($stroke, $color) {
  $shadow: ();
  $from: $stroke*-1;
  @for $i from $from through $stroke {
    @for $j from $from through $stroke {
      $shadow: append($shadow, $i*1px $j*1px 0 $color, comma);
    }
  }
  @return $shadow;
}

.trips-item {
  border: 1px solid $border;
  border-radius: 25px;
  display: inline-block;
  margin: 50px;
  min-height: 200px;
  width: 400px;
  &__info {
    color: lighten($border, 10%);
    font-size: 20px;
    font-weight: 900;
    margin: 50px 10px;
    text-align: center;
    text-shadow: stroke(3, darken($border, 60%));
    width: 100%;
    &--title {
      font-size: 24px;
      margin: 10px;
    }
  }
}
