@import "~src/assets/styles/variables";

@function stroke($stroke, $color) {
  $shadow: ();
  $from: $stroke*-1;
  @for $i from $from through $stroke {
    @for $j from $from through $stroke {
      $shadow: append($shadow, $i*1px $j*1px 0 $color, comma);
    }
  }
  @return $shadow;
}

.trips-item {
  display: inline-flex;
  border: 1px solid $border;
  min-width: 300px;
  width: 40%;
  margin: 40px calc(5% - 2px);
  align-items: center;
  min-height: 300px;
  span {
    margin: 10px 0;
    width: 100%;
    text-align: center;
    text-shadow: stroke(2, darken($border, 50%));
    color: lighten($border, 10%);
    font-size: 20px;
    font-weight: 900;
  }
  &__title {
    font-size: 24px;
    margin: 10px;
  }
}
