@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "variables.scss";

body {
  font-family: Lato, serif;
}

h1 {
  text-align: center;
}

mat-form-field {
  width: 100%;
}

div.mat-dialog-actions {
  button.mat-button {
    background-color: $button-background;
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
  }
}

.carousel {
  a {
    display: none!important;
  }
  li {
    width: 15px!important;
    height: 15px!important;
    pointer-events: none!important;
  }
}
