@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

h1 {
  text-align: center;
}

mat-form-field {
  width: 100%;
}

div.mat-dialog-actions {
  button.mat-button {
    margin-left: auto;
    margin-right: auto;
  }
}
